<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :title, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :content, input_html: { class: 'form-control' } %>
  </div>
  <div class="field">
      <%= f.label :image %><br>
      <%= f.file_field :image, accept: 'image/png,image/gif,image/jpeg' %>
  </div>
  <%= f.button :submit, class: 'btn btn-default'%>

<% end %>