<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :title, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :content, input_html: { class: 'form-control' } %>
  </div>
  <div class="field">
      <%= f.label :image %><br>
      <%= f.file_field :image, accept: 'image/png,image/gif,image/jpeg' %>
  </div>
  
  <button class="button btn btn-default" type="submit" value="go">데이터 등록</button>

  <script>
      $(".button").click(function(){
          $.ajax({
              type : "POST",
              url : "http://163.180.117.185:30300",
              data : {TXid:'<%=@post.id%>',TXdata:'<%=@post.hashstring%>'},
              ContentType : "application/json; charset=utf-8",
              dataType:"json",
          });
      });
  </script>
<% end %>