<h2>Block Chain Data Store</h2>

<table class="table">
  <thead>
    <tr>
      <th>제목</th>
      <th>글쓴이</th>
      <th>비고</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td class=" col-md-3 col-xs-3"><%= post.title %></td>
        <td><%= post.user.present? ? post.user.email : "n/a" %>, <%= time_ago_in_words(post.created_at) %> ago</td>
        <td class = "col-md-3 col -xs-3">
          <%= link_to 'Show', post %>
        <% if user_signed_in? %>
          <%= link_to 'Edit', edit_post_path(post) if post.updatable_by? current_user %>&nbsp;
          <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } if post.deletable_by? current_user %>
        <% end %>
        </td>
      </tr>
    <% end %>
    
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path, class: "btn btn-default" %>
